.*RData
.*Rproj.*
*.Rproj
*_cache
*_files
*.Rhistory
.Rproj.user
*.png
*.docx
*.DS_Store
*_cache*
*_files*
Megan Kelsey/HIP/AIM1_mediation.pdf
Petter Bjornstad/Pima/um_serum_plsda.html
Petter Bjornstad/Pima/jos_serum_plsda.html
Petter Bjornstad/Pima/tim_full_analysis.pdf
Jenny Gourgari/indplot
*.txt
