.*RData
.*Rproj.*
*.Rproj
*_cache
*_files
*.Rhistory
.Rproj.user
*.png
*.docx
*.DS_Store
*_cache*
*_files*
Megan Kelsey/HIP/AIM1_mediation.pdf
Petter Bjornstad/Pima/um_serum_plsda.html
Petter Bjornstad/Pima/jos_serum_plsda.html
Petter Bjornstad/Pima/tim_full_analysis.pdf
Jenny Gourgari/indplot

Petter Bjornstad/Pima/master_data/tim_merge/outlier_plots.html

Petter Bjornstad/Pima/master_data/tim_merge/tim_merge.html
Kristen Nadeau/EMERALD echo Alex/EMERALD-echo-Nguyen.html
Petter Bjornstad/Pima/master_data/tim_merge/.ipynb_checkpoints/tim_merge-checkpoint.ipynb
*.txt
*.html
Megan Kelsey/T2D and COVID-19/Y-T2D-during-COVID19.pdf
Megan Kelsey/T2D and COVID-19/Incidence of youth-onset type 2 diabetes during the COVID-19 pandemic.pdf
*-checkpoint.ipynb
*.csv
Petter Bjornstad/TODAY proteomics metabolomics/TODAY proteomics moderated t-tests.xlsx
Petter Bjornstad/TODAY proteomics metabolomics/~$TODAY proteomics moderated t-tests.xlsx
*__pycache__*
Petter Bjornstad/CROCODILE/crocodile_scRNA.rmarkdown
Petter Bjornstad/CROCODILE/crocodile_scRNA/.RDataTmp
Petter Bjornstad/TODAY proteomics metabolomics/Proteomics analyses/~$DAY-somalogic-elastic-net-models-baseline.rtf
Petter Bjornstad/TODAY proteomics metabolomics/Proteomics analyses/TODAY-somalogic-elastic-net-models-baseline.rtf
Petter Bjornstad/TODAY proteomics metabolomics/Proteomics analyses/TODAY-somalogic-elastic-net-models-baseline.rtf
Petter Bjornstad/TODAY proteomics metabolomics/Proteomics analyses/TODAY-somalogic-elastic-net-models-baseline.rtf
Petter Bjornstad/TODAY proteomics metabolomics/Proteomics analyses/TODAY-somalogic-elastic-net-models-baseline.rtf
Petter Bjornstad/TODAY proteomics metabolomics/Proteomics analyses/TODAY-somalogic-elastic-net-models-baseline.rtf
Petter Bjornstad/TODAY proteomics metabolomics/Proteomics analyses/TODAY-somalogic-elastic-net-models-baseline.rtf
*.rtf
Petter Bjornstad/Proteomics and DKD/proteomics_and_dkd_today_volcano_plots_new_covariates.rmarkdown
